{% extends "home/base.html" %}
{% block content %}
<span>
   <p>London Fields CC is a community-focused cricket club which draws its membership from the local community in and around London Fields and Victoria Park.</p>
   <p>We play most Saturdays and Sundays throughout the summer: On Saturdays we compete in the <a href="{{ NELCL_URL }}">North East London Cricket League</a>. On Sundays we play friendly matches at home and away, visiting clubs in Essex, Surrey and Sussex.</p>
   <p>Saturday League matches are 40 overs a side, with up to 7 overs per bowler. In friendlies we also play longer and shorter matches, and even timed games (more tea, vicar?).</p>
   <p>Since 2006 we have played midweek cricket in the <a href="{{ VPCCL_URL }}">Victoria Park Community Cricket League</a>.</p>
   <p>We also host sides from abroad - particularly our Belgian friends from Mechelen and our Slovenian friends from Ljubljana. On our travels we have played in Estonia, Bulgaria, Croatia and Hungary, as well as Belgium and Slovenia. Each trip has brought back many sore heads, silly stories (many of which can never be published on a website) and even a team mascot.</p>
   <p></p>
   <p>In 2011 LFCC ventured onto the indoor court for the first time, winning the Play On Sports Thursday B League at the first attempt. We will continue to play in that league, if they ever resolve their venue issues.</p>
   <p></p>
   <p>The <a href="{{ PUB_ON_THE_PARK_URL }}">Pub On The Park</a> is very much the focus of the team, both during and outside the season. As a team we like our beer. Quite a lot. Though obviously there's no pre-requisite to drink after every game. We've had half-drinkers and even teetotallers in the team in the past.</p>
   <p>Our home pitch on London Fields has hosted cricket for over 200 years. Thanks to Hackney Council and their staff the pitch gets better and better to play on. It is unique in Hackney for its setting (surrounded by London Plane trees on the boundary) and the number of people watching the game at any time.</p>
   <p></p>
   <p>If you ever fancy <a href="{{ LONDON_FIELDS_MAP_URL }}">popping down</a> to watch a match, games usually start around 1pm.</p>
   <p></p>
   <p></p>
   <p>You can contact us <a href="http://farm3.static.flickr.com/2447/3745670629_ba67f65fe6.jpg?v=0">HERE</a></p>
</span>
{% endblock content %}