{% extends "home/base.html" %}
{% block content %}

<h1>Welcome to the {{ year }} Season</h1>
<p>If you are returning for another season, great to have you back.</p>
<p>If you are new to the club (and there are a lot of you this year) then you’ve made a life changing decision. Whether it’s for good or bad is debatable. </p>
<p>If you are a new family man and have held onto to your independence through the thread of renewed membership, then please don’t lose touch as the commitments pile up; the opportunity is there for you guys to create a super crèche/ultimate dads’ day out to keep connected with the team.</p>
<p>In no particular order, here are some things that are important for everyone to be aware of in order for the season to go well – both for you and for the team.</p>
<p>
	<b>1.	Fixtures:</b>
</p>
<p>Ben Sanders has worked all winter to secure us quality fixtures. He is still trying now to arrange fixtures for a couple of googlies that the council has thrown us. More on this later.  Regardless, Ben needs thanks for all his hard work and I encourage you to shake his hand or spud him when you see him. Even buy him a beer – he is somewhat of a connoisseur of British beers.</p>
<p>We value good fixtures based on grounds, relative ability of oppo and sportsmanship of oppo. I would encourage you to feedback to Ben or to the club after fixtures that are either brilliant or rubbish, as it allows for the incoming or remaining fixture secretary to refine the listings for the following season.</p>
<p>
	<b>2.	Kit:</b>
</p>
<p>Kit is separated into 3 lots:</p>
<ul>
	<li>
		<b>Home Kit:</b> All kit needed for the day is in the new wheelie bin. It will be locked in the shed at London Fields (LF) and I will pass on the combination lock details nearer the first game. I will also post a picture of the locking procedure (it took quite a bit of figuring out). It goes without saying – it must be locked as directed. This is everyone’s responsibility.
	</li>
	<li>
		<b>Away Kit:</b> All kit needed for a match is in a brand new backpack. We are no longer storing this in Pub on the Park or in the shed at LF. I will look after the kit at my place. For those who don’t know, I live 5 minutes from LF and am near buses and train and tube stations. It should be easier for the away match team to collect from me if needs be. I will liaise with match managers during the week when we have away games, in order to lubricate collection and return. It is a relatively skeletal kit due to space so own kit of any quantity will always be a good option.
	</li>
	<li>
		<b>Midweek Kit:</b> There is a separate bag for this (not new, I’m afraid – although, the savvy members among you may have noticed that it made an appearance at the nets during the off season). This will be looked after by Will (Midweek Captain) and me. It is a skeleton kit, so I would encourage midweekers to bring kit if they can.
	</li>
</ul>
<br>
	<p>
		<b>Balls</b>: We tend to keep the balls out of the kit bags otherwise they can end up disappearing. I will administer balls as needed and will also call on regular players to take some balls as well. Depending on how this goes I will probably put some balls into the home kit.
	</p>
	<p>
		<b>Kit general:</b> Look after it. Respect it. Be conscious of making sure all of it returns to its home. Particularly the little things that matter like: bails, scorebooks, pens, counters, stump gauges etc. Please use the stump gauge to put the stumps in before you start banging with the bat handle. The grooves in the stumps end up flattening out and making it hard to set the bails. No point wasting perfectly good stumps because the bails won’t set.
	</p>
	<p>
		<b>3.	Midweek:</b>
	</p>
	<p>Will Isaac will captain and share the admin of midweek with me. Midweek starts first week of May. For the unseasoned, midweek runs autonomously. If you are interested in playing midweek then you’ll have already replied to the separate message sent a while back.</p>
	<p>
		<b>4.	Captaining and law interpretation during a game:</b>
	</p>
	<p>Midweek and League games will be captained as consistently as possible. Friendly games however, can be captained by anyone. I will be encouraging as many people as possible to skipper a match this year. If you are particularly keen to skipper then do let me know so I can sling the armband your way sometime.</p>
	<p>For friendly games the captains of each team should decide on overs and agree how wides will be called. The aim is to achieve consistency throughout. </p>
	<p>For league games there are set interpretations of the laws that the captain must be cognizant with. There have been a few agreed changes for 2019:</p>
	<ul>
		<li>‘one down leg’ wide rule is gone. Wides are called by the umpire based on current, international one-day match law interpretation. </li>
		<li>Run rate is calculated by runs and overs only; wickets down does not inform the calculation. Please see
			<a href="https://nelcl.leaguerepublic.com/l/newsArticle/nelcl_rules_2019.html">this link</a> for full rules regarding the NELCL.
		</li>
		<li>Respect to umpires and opposition remains central to the league and captains should take responsibility for this.</li>
	</ul>
	<p>
		<b>5.	Match Managers:</b>
	</p>
	<p>This role is ascribed to one person per match and we aim to give it to you only once per season. Twice at the most. A full detail of the role will accompany selection emails. General points to remember though: you are responsible for all the duties; you should delegate many of them and see that they are done properly; ask more experienced players for clarity if unsure. You only do it once so get fully involved and make it a good one.</p>
	<p>We will also be offering online payments rather than cash. It has worked well in the nets so we will give it a go for the real thing. Everyone has the bank details. Get a bank app and pay online, show it to the match manager to prove payment. Boom. Match managers, you will need to confirm proof of payment or collect cash and transfer the balance to the club. A short email confirming this to the club should accompany. Full details in the
		<a href="matchmanager.htm">Match Manager brief</a> that will be made available with selection emails.
	</p>
	<p>
		<b>7. 	Etiquette:</b>
	</p>
	<p>A reminder for the old and some info for the new. We do not have any exclusivity to the shed or the pitch at London Fields. As such, we need to be on ‘best behaviour’ with our conduct. Treat the hut with respect. Try not to wee behind the trees – instead, use the loos. Take care of the keys (hang them on the hook!!!). Be thankful and helpful towards the park staff – they can veto our use of that shed at any time. Tidy up all rubbish before leaving – even if it’s not yours. Two minutes of picking up some reprehensible person's rubbish is worth keeping a good reputation with ‘the powers that be’ in the parks. To further emphasise the importance of the above and the reality that this is a busy public space with many people scrutinising the myriad of users and uses that share it, I would urge you to
		<a href="https://drive.google.com/file/d/145DTbtkD8e2SBZYsUFXy8ytqMHUaOmVV/view">read this (3mins max)</a> to enrich your understanding of the context that we are playing in when at London Fields.
	</p>
	<p>When it comes to etiquette during games: play hard, play fair. There is no place for swearing at oppo or umpires. Good quality banter/mental torment is ok but if the captain or a senior player tells you to pull your head in then I’d recommend you do it. Our club and the game will always be bigger than you! We have an excellent reputation amongst other teams as a competitive but fair club – no one gets to jeopardise that.</p>
	<p>
		<b>8.	Membership:</b>
	</p>
	<p>We have a lot of new members. We also have quite a few players who will be playing less due to family, moving away, or getting old. We have also turned away about 10 people in the last week. All of them have gone onto the ringers list for last minute needs. We would encourage you to play as much as you can. If you can’t play but can come along to watch for part of a match, then please do. Particularly for the newbies, grab some beers and get down to watch a game or part of – it’s a great way to fast track yourself into the steamy bowels of the club.</p>
	<p>Most of all – you are going to get out what you put in to this club.</p>
	<p>
		<b>9.	Selection protocol:</b>
	</p>
	<p>League games we pick an XI based on who is available. This, I am afraid to say, is up to your esteemed committee. Bags of cash won’t help but commitment and performance will.</p>
	<p>Friendly games we pick based on who has had the least matches up until that point. There may be other factors at play but as a general rule of thumb, that’s it. </p>
	<p>If you are going to be away for part of the season then communicate with us so we can get you games whilst you are available. It’s up to you to keep us up to date. </p>
	<p>If you think that you should have been selected but weren’t then get in touch to find out why. </p>
	<p>Midweek games are up to Will. He will look to have a core of people and a balanced team based on availability. Turn up regularly and you are likely to be part of the core.</p>
	<p>
		<b>10.	Every match carries equal weight:</b>
	</p>
	<p>We play league games and friendly games. Despite the titles, both are of equal importance and should be considered as such. One difference is this: in a league game you get as much of a game as your performance warrants; in a friendly, the captain will look to get all 11 people involved as fairly and equally as possible. The latter is very difficult and often the balance of wanting to win versus getting everyone a fair game becomes a very confusing job. This is one reason I will promote as many people as possible to have a go as captain. A win in the league should receive equal celebration to a win in a friendly. A win in the Hashes, however, is another story...</p>
	<p>
		<b>11.	League results and Rules:</b>
	</p>
	<ul>
		<li>The captain of the winning team needs to submit results
			<a href="2019ResultSubmission.docx" target="_blank">using this document</a> by 12noon on the Monday following the game, otherwise the points are not given.
			<br/>Please also
			<a href="https://nelcl.leaguerepublic.com/l/newsArticle/match_report_procedure.html">read this for more information</a>.
		</li>
		<li>Please see
			<a href="https://nelcl.leaguerepublic.com/l/newsArticle/nelcl_rules_2019.html">this link</a> for full rules regarding the NELCL.
		</li>
	</ul>
	<p>
		<b>12.	Umpiring and scoring:</b>
	</p>
	<p>You WILL be asked to do one of these things during the season. And actually, you should offer before being asked. If you have a preference then please indicate this on the day, to the Captain and Match Manager. If scoring, do it properly – the match manager needs to take a picture of the scorecard and copy the results online, so take the time to make it neat. Tyrone Graham is a good man to speak to about this – his pride in the scorebook is legendary.</p>
	<p>We take our umpiring seriously (some members have received qualifications in umpiring) and if you are going to umpire (and you should, because it enhances the experience of this wonderful game) then you should be confident on the main laws and all ‘local’ interpretations. Main issues that lead to poor umpiring at our level are incorrectly diagnosed LBW, no balls and dead balls.</p>
	<p>If you are not already a very good umpire with solid knowledge (i.e. all of you bar a few) then please do one or more of these things:</p>
	<ul>
		<li>say so and just umpire the square leg position, being sure of the ‘no ball’ law that is in play</li>
		<li>educate yourself and/or have discussions with members who do know what you currently do not</li>
	</ul>
	<p>Finally, I am really chuffed with our new recruits and equally as happy to see the old guard who have returned for another season of glory. I’m excited about steering the ship this year and am privileged to have a hitherto excellent bunch of crew mates to help with all the daily tasks to keep us sailing. If you have any queries, comments, etc., then I am always available for communication and I would encourage you to get in touch.</p>
	<p>Troy – 07786 393 710.</p>
{% endblock content %}