{% extends "home/base.html" %}
{% block content %}
<span>
   <p>Welcome to the Internet home of London Fields Cricket Club. We're a community cricket club based in
      <a href="{{ london_fields_map_url }}">
      Hackney, North East London</a>, and we're members of the <a href="{{ nelcl_url }}">
      North East London Cricket League</a>. We're often to be found in
      <a href="{{ pub_on_the_park_url }}">Pub On The Park</a>.
   </p>
   <p>You can also take a look at the <a href="{{ vpccl_league_tables_url }}">Midweek Site</a>, and the <a
      href="{{ nelcl_url }}">current league table</a>.</p>
   <p><b>Latest news:</b></p>
</span>
<p><b>New!</b> Check out our <a href="{{ instagram_page }}">Instagram page!</a></p>
{% endblock content %}

