{% extends "home/base.html" %}
{% block content %}
<span>
   <p>Welcome to the Internet home of London Fields Cricket Club. We're a community cricket club based in
      <a href="{{ LONDON_FIELDS_MAP_URL }}">
      Hackney, North East London</a>, and we're members of the <a href="{{ NELCL_URL }}">
      North East London Cricket League</a>. We're often to be found in
      <a href="{{ PUB_ON_THE_PARK_URL }}">Pub On The Park</a>.
   </p>
   <p>You can also take a look at the <a href="{{ VPCCL_LEAGUE_TABLES_URL }}">Midweek Site</a>, and the <a
      href="{{ NELCL_URL }}">current league table</a>.</p>
   <p><b>Latest news:</b></p>
</span>
<p><b>New!</b> Check out our <a href="{{ LONDON_FIELDS_INSTAGRAM_PAGE }}">Instagram page!</a></p>
{% endblock content %}

