{% extends "home/base.html" %}
{% block content %}
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                {% load render_table from django_tables2 %}
                <h1>Honours Board</h1>
                <br/>
                <h2>Club Positions</h2>
                <hr/>
                <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#captains">Captains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#vice-captains">Vice-Captains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#midweek-captains">Midweek Captains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#fixture-secretaries">Fixture Secretaries</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Tour Czars</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#domestic">Domestic</a>
                            <a class="dropdown-item" href="#international">International</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#veterans">Veterans</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active show" id="captains">
                        {% render_table tables.0 %}
                    </div>
                    <div class="tab-pane fade" id="vice-captains">
                        {% render_table tables.1 %}
                    </div>
                    <div class="tab-pane fade" id="midweek-captains">
                        {% render_table tables.2 %}
                    </div>
                    <div class="tab-pane fade" id="fixture-secretaries">
                        {% render_table tables.3 %}
                    </div>
                    <div class="tab-pane fade" id="domestic">
                        {% render_table tables.4 %}
                    </div>
                    <div class="tab-pane fade" id="international">
                        {% render_table tables.5 %}
                    </div>
                    <div class="tab-pane fade" id="veterans">
                        {% render_table tables.6 %}
                    </div>
                </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <h2>Notable Performances</h2>
                <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#50s">50s</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#centurions">100s</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#five-wicket-hauls">5w</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#best-batsman">Top Scorer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#best-bowler">Top Wicket Taker</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="50s">
                        {% render_table tables.7 %}
                    </div>
                    <div class="tab-pane fade" id="centurions">
                        {% render_table tables.8 %}
                    </div>
                    <div class="tab-pane fade" id="five-wicket-hauls">
                        {% render_table tables.9 %}
                    </div>
                    <div class="tab-pane fade" id="best-batsman">
                        {% render_table tables.10 %}
                    </div>
                    <div class="tab-pane fade" id="best-bowler">
                        {% render_table tables.11 %}
                    </div>
                </div>
                </div>
                <br/>
                <br/>
                <hr/>
            </div>
        </div>
    </section>
{#    <script>#}
{#        $('a[data-toggle="tab"]').click(function (e) {#}
{#            e.preventDefault();#}
{#            $(this).tab('show');#}
{#        });#}
{##}
{#        $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {#}
{#            var id = $(e.target).attr("href");#}
{#            sessionStorage.setItem('selectedTab', id)#}
{#        });#}
{##}
{#        var selectedTab = sessionStorage.getItem('selectedTab');#}
{#        if (selectedTab != null) {#}
{#            $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');#}
{#        }#}
{#    </script>#}
{% endblock content %}