{% extends "home/base.html" %}
{% block content %}
<div id="divContent">
	<h1>Match Manager Duties</h1>
	<p>Friendly match:</p>
	<ul>
	<li>If it's artificial, we need springback stumps - contact Troy (07786 393 710) to arrange collection. </li>
	<li>Away match? Contact Troy to arrange collection of backpack – this has everything you need.</li>
	</ul>
	<p>Home match at London Fields?</p>
	<ul>
		<li>Get the key from the rangers.</li>
		<li>Get wheelie bin out (relock chain around something immovable). The code for the chain lock is 2xxx - the number attached to the LFCC Official WhatsApp group title.</li>
		<li>Remove ropes from pitch. These must go back after the match – it is not the park rangers’ duty.</li>
		<li>Collect and position scoreboard, flags (if needed), and wickets – please use the stump gauge; don’t flatten the top of the stumps.</li>
		<li>Ensure the kit and equipment go back to where they are stored and lock it all up. Lock up shed and return key to the Rangers.</li>
		<li>Collect match fees on the day (cash or electronic proof). This may also involve collecting match fees from the opposition. You will be advised prior to the match. Send balance to Dhawal (treasurer) Dhawal.sawant'at'gmail.com and cc the club by Monday evening.</li>
		<li>Photograph scorebook and send with short match report by Monday to Muffi - muffizone'at'gmail.com and cc the club. <b>Please type the scorecard in the match report, as it can be very hard to read photos!</b></li>
	</ul>
	<p>League match:</p>
	<p>As above including,</p>
	<ul>
		<li>IF WE WIN:<br/>
		- Scorebook pictures and fill out <a href="2020ResultSubmission.docx" target="_blank">this document</a><br/>
		- Email the addresses at the bottom of the page in that document. This must be done by noon on the Monday. CC the club.
		</li>
		<li>ALSO: no need to collect oppo match fees as pitches already paid for by each team.</li>
		<li>ALSO: bring £30 cash for umpire. Club will reimburse you.</li>
	</ul>
</div>
{% endblock content %}