{% extends "home/base.html" %}
{% block content %}
<h3>Averages</h3>
<ul>
    <li><a href="{% url 'batting-stats' %}">Batting Averages</a></li>
    <li><a href="{% url 'bowling-stats' %}">Bowling Averages</a></li>
    <li><a href="{% url 'match-appearances' %}">Appearances</a></li>
</ul>
<br>
<h3>Other Statistics</h3>
<ul>
    <li><a href="#">Season Overviews</a></li>
    <li><a href="#">Opposing Teams</a></li>
    <li><a href="#">Venues</a></li>
</ul>
<br>
<p><i><b>Note:</b> All statistics are sourced only from the old web site and scorebooks, and so are not complete.</i></p>
{% endblock content %}