[flake8]
ignore = D203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .history,
    .vscode
max-complexity = 10
max-line-length = 119
extend-ignore = E203, W503