{% extends "home/base.html" %}
{% block content %}
    <section id="about" class="about">
        <div class="container">
            {% load django_tables2 %}
            <h4>{{ match_stats.match.mtype | title }} Match
                vs {{ match_stats.match.opposition }}, {{ match_stats.match.date }}, {{ match_stats.match.venue }}</h4>
            <br>
            <h5>{{ match_stats.report_headline }}</h5>
            <p>{{ match_stats.report_byline}}</p>
            <p>{{ match_stats.report_author}}</p>
            <p>{{ match_stats.report | safe | linebreaks }}</p>
            {% if match_stats.london_fields_first_event == 'BOW' %}
                {% if match_stats.opposition_score != 0 %}
                <b> {{ match_stats.match.opposition }} CC Batting</b> 
                <p> {{ match_stats.opposition_score }} for {{ match_stats.opposition_wickets }}
                    in {{ match_stats.opposition_overs }}</p>
                {% endif %}    
                <b> London Fields Bowling</b>
                {% render_table tables.0 %}
                <b> London Fields Batting</b>
                {% if match_stats.london_fields_score != 0 %}
                <p> {{ match_stats.london_fields_score }} for {{ match_stats.london_fields_wickets }}
                    in {{ match_stats.london_fields_overs }}</p>
                {% endif %}
                {% render_table tables.1 %}
            {% else %}
                <b> London Fields Batting</b>
                {% if match_stats.london_fields_score != 0 %}
                <p> {{ match_stats.london_fields_score }} for {{ match_stats.london_fields_wickets }}
                    in {{ match_stats.london_fields_overs }}</p>
                {% endif %}
                {% render_table tables.1 %}
                {% if match_stats.opposition_score != 0 %}
                <b> {{ match_stats.match.opposition }} CC Batting</b>
                <p> {{ match_stats.opposition_score }} for {{ match_stats.opposition_wickets }}
                    in {{ match_stats.opposition_overs }}</p>
                {% endif %}
                <b> London Fields Bowling</b>
                {% render_table tables.0 %}
            {% endif %}
        </div>
    </section><!-- End About Section -->
{% endblock %}